apiVersion: apps/v1
kind: Deployment
metadata:
  name: vaultwarden-deployment
  namespace: vaultwarden
spec:
  replicas: 1
  selector:
    matchLabels:
      app: vaultwarden
  template:
    metadata:
      labels:
        app: vaultwarden
    spec:
      imagePullSecrets:
        - name: regcred
      containers:
        - name: vaultwarden
          image: 762012032320.dkr.ecr.us-east-1.amazonaws.com/vaultwarden:latest
          resources:
            limits:
              memory: "256Mi"
              cpu: "500m"
          ports:
            - containerPort: 80
          volumeMounts:
            - name: data
              mountPath: /app/vaultwarden-data
      volumes:
        - name: data
          persistentVolumeClaim:
            claimName: vaultwarden-pvc
